@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Montserrat";
    background-color: #151515;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    background-color: #282828;
    padding: 6px 0;
    position: fixed;
    width: 100%;
    position: relative;
}

.nav__burger {
    color: #fff;
    font-size: 20px;
    display: none;
}

.menu__link {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.nav__logo-menu {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.nav__icons {
    display: flex;
    gap: 25px;
    order: 1;
}

.nav__icons * {
    font-size: 20px;
    color: #fff;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.header__content {
    flex-grow: 1;
    background-image: url(../img/hero__img.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-family: "ProstoOne";
    font-size: 100px;
    line-height: 75px;
    margin-bottom: 38px;
    max-width: 663px;
    width: 100%;
}



.header__btn {
    background-color: #fff;
    font-size: 20px;
    color: #171718;
    border-radius: 10px;
    padding: 13px 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    gap: 11px;
    align-items: center;
    max-width: 200px;
    width: 100%;
}

.header__btn-title {
    color: #171718;
    font-weight: 500;
}

.fa-external-link {
    font-size: 16px;
}

.product__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}


.product__1-desc {
    color: #fff;
    max-width: 538px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
}

.product__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 80px;
}

.product__desc-1 {
    text-align: right;
    max-width: 333px;
    width: 100%;
}
.product__desc-2 {
    max-width: 333px;
    width: 100%;
}

.product__line {
    border-right: 61px solid #C4C4C4;
    height: 1px;
}

.device__content {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 55px;
    flex-wrap: wrap;
}

.device__1 {
    background-color: #fff;
    padding: 15px 47px;
    text-align: center;
    border-radius: 6px;
}

.device__title {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
}

.device__price {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}

.device__btn {
    background-color: #151515;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 7px 57px;
}

.footer {
    background-color: #282828;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    flex-wrap: wrap;
}

.footer__icon {
    color: #fff;
    font-size: 55px;
}


.footer__link {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
.footer__menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
